.row {
  width: 100%;
  height: auto;
  margin-top: 40px;
  padding: 10px 30px;
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
/* section {
  padding: 20px;
} */
#row {
  width: 100%;
  height: auto;
  padding: 10px 30px;
  display: flex;
  margin-bottom: 30px;
}

.col-4 {
  width: 25%;
  height: auto;
  background-color: #fff;
  color: #000;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px 0px #00000021;
}

.row .col-4 i {
  font-size: 100px;
  color: red;
}

.row .col-4 h3::after {
  background: #dedede48;
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  margin: 10px auto;
  margin-bottom: 15px;
  border-radius: 50px;
}
/* .col-4 p {
  text-align: left;
} */

.col-6 {
  width: 50%;
  height: auto;
  background-color: #fff;
  color: #000;
  display: flex;
  text-align: center;
  padding: 20px;
}

#about-us {
  padding: 50px;
}

section h1 {
  font-size: 32px;
}

.col-6 h3 {
  font-size: 30px;
  text-align: left;
}

.col-4 h3 {
  font-size: 20px;
  font-weight: bold;
}

.col-6:not(:last-child) {
  padding: 0;
}

#row .col-6 img {
  border-radius: 20px;
}

.row .col-4 img {
  margin-bottom: 10px;
  /* border-radius: 50%; */
  width: 150px;
  height: 150px;
}

a.learn-more {
  text-align: center;
  color: #ff0000;
  /* margin-top: 250px; */
  text-decoration: none;
}

a.learn-more:hover {
  text-decoration: underline;
}
